ProddProjektGrupp6/.vs/ProddProjektGrupp6/DesignTimeBuild/.dtbcache.v2
ProddProjektGrupp6/.vs/ProddProjektGrupp6/FileContentIndex/a57f9d07-3151-4440-997c-ff28e8f50e67.vsidx
ProddProjektGrupp6/.vs/ProddProjektGrupp6/v18/.suo
ProddProjektGrupp6/obj/Debug/net9.0-windows/ProddProjektGrupp6.AssemblyInfo.cs
ProddProjektGrupp6/obj/Debug/net9.0-windows/ProddProjektGrupp6.AssemblyInfoInputs.cache
ProddProjektGrupp6/obj/Debug/net9.0-windows/ProddProjektGrupp6.assets.cache
ProddProjektGrupp6/obj/Debug/net9.0-windows/ProddProjektGrupp6.designer.deps.json
ProddProjektGrupp6/obj/Debug/net9.0-windows/ProddProjektGrupp6.designer.runtimeconfig.json
ProddProjektGrupp6/obj/Debug/net9.0-windows/ProddProjektGrupp6.GeneratedMSBuildEditorConfig.editorconfig
ProddProjektGrupp6/obj/Debug/net9.0-windows/ProddProjektGrupp6.GlobalUsings.g.cs
ProddProjektGrupp6/obj/ProddProjektGrupp6.csproj.nuget.dgspec.json
ProddProjektGrupp6/obj/ProddProjektGrupp6.csproj.nuget.g.props
ProddProjektGrupp6/obj/ProddProjektGrupp6.csproj.nuget.g.targets
ProddProjektGrupp6/obj/project.assets.json
ProddProjektGrupp6/obj/project.nuget.cache
ProddProjektGrupp6/obj/Debug/net9.0-windows/ProddProjektGrupp6.AssemblyInfo.cs
ProddProjektGrupp6/obj/Debug/net9.0-windows/ProddProjektGrupp6.AssemblyInfoInputs.cache
ProddProjektGrupp6/obj/Debug/net9.0-windows/ProddProjektGrupp6.assets.cache
ProddProjektGrupp6/obj/Debug/net9.0-windows/ProddProjektGrupp6.GeneratedMSBuildEditorConfig.editorconfig
ProddProjektGrupp6/obj/Debug/net9.0-windows/ProddProjektGrupp6.GlobalUsings.g.cs
ProddProjektGrupp6/obj/project.nuget.cache
ProddProjektGrupp6/obj/project.assets.json
ProddProjektGrupp6/obj/ProddProjektGrupp6.csproj.nuget.g.props
ProddProjektGrupp6/obj/ProddProjektGrupp6.csproj.nuget.dgspec.json
ProddProjektGrupp6/obj/Debug/net9.0-windows/ProddProjektGrupp6.assets.cache
ProddProjektGrupp6/obj/Debug/net9.0-windows/ProddProjektGrupp6.AssemblyInfoInputs.cache
ProddProjektGrupp6/obj/Debug/net9.0-windows/ProddProjektGrupp6.AssemblyInfo.cs
